<div class="col-10 col-md-6 mx-auto mt-3 mb-3">
  <div class="card shadow">
    <div class="card-body">
      <h4 class="card-title">MP3 Converter</h4>
      <form id="mp3_form">
        <div class="form-group">
          <label for="mp3_url">Video URL</label>
          <input type="text" class="form-control" id="mp3_url" name="mp3_url">
        </div>
        <button class="btn btn-info" type="submit">Convert</button>
      </form>
      <div id="mp3_download_wrappper" style="display:none;" class="mt-2">
        <a id="mp3_download_link" href="/download_mp3" download class="btn btn-success">Download</a>
      </div>
    </div>
  </div>
</div>
